.backgroundHeader {
	background-color: #4d4d4d;
	width: 100vw;
	height: 8vh;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding-right: 2rem;
	color: var(--white);
	font-size: var(--details);
}
.nav {
	margin-left: 2rem;
}

.userContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin-top: 2rem;
}
.username {
	margin: 0 1rem 0 0;
}
.avatar {
	margin-top: 2rem;
	background-color: rgb(37, 126, 153);
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}
.container {
	width: 100vw;
	height: 92vh;
	background-color: #333333;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: var(--white);
}

.list {
	list-style: none;
	padding: 0;
	margin: 2rem;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.item {
	font-size: var(--details);
	margin-bottom: 1rem;
	padding: 1rem;
	margin: 2rem;
	background-color: #5a5a5a;
	border-radius: 4px;
}
