.button {
    margin-top: 2rem;
    border-radius: 6px;
    width: 18rem;
    height: 3rem;
    color: var(--white);
    font-weight: bold;
    font-size: var(--details);
    border-style: none;
    transition: background-color 0.1s ease;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    background-color: var(--buttonBackground);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    -webkit-transition: background-color 0.1s ease;
    -moz-transition: background-color 0.1s ease;
    -ms-transition: background-color 0.1s ease;
    -o-transition: background-color 0.1s ease;
}

.button:active {
    background-color: #ffffff;
    color: #333333;
    animation-name: click;
    animation-duration: 0.3s;
}

@keyframes click {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0.9);
    }
}

.button:hover {
    background-color: #ffffff;
    color: #333333;
    transition: all 0.3s ease-in-out;
}
