.background {
    background-color: #333333;
    width: 100vw;
    height: 100vh;
}
.logoContainer {
    position: fixed;
    bottom: 0;
    right: 0;
}
.logo {
    height: 16rem;
    width: 18rem;
}
